body, div, ul, span {
	padding: 0;
	margin: 0;
}

body {
    background-color: #9B3F5F;
	width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

h1 {
    text-align: center;
    align-items: flex-end;
}

h2,p {
	color: white;
}

a {
	text-decoration: none;
	text-align: center;
}

#everything{
}
	#everything ul {
		display:flex;
		list-style-type: none;
	}


.main{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

	.logo{
		padding: 5%;
	}

	.blurb{
		width: 40%;
	}

.tabs{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 25vh;
	
}
	.tabs > div {
		display: flex;
		width: 100%;
		height: 100%;
		flex-direction: column;
		align-items: center;
	}
.tabs > div:hover{
	background-color: #50E3C2;
	border-radius: 5px;
	
}

	.tabs > div > a {
		height: 100%;
	}
	.nav-ico {
		height: 100%;
		display: flex;
	}




